body {
    font-family: Helvetica, serif;
    font-size: 14px;
}

.side-day {
    background-color: #C0D1E1;
    cursor: grab;
    transition: all 0.1s ease-out;
}

.frame {
    border: 3px solid #C0D1E1;
    cursor: grab;
    transition: all 0.1s ease-out;
}

.axis-line {
    background-color: rgba(24,45,59,0.1);
    vertical-align: text-bottom;
    transition: bottom 0.1s ease-out;
}

.axis-x {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(37,37,41,0.5);
    transition: left 0.2s ease-out;
}

.axis-y {
    color: rgba(37,37,41,0.5);
}

.tw {
    transition: all 0.1s ease-out;
}

.tw-o {
    transition: opacity 0.1s ease-out;
}

.button {
    position: relative!important;
    border-radius: 30px;
    padding: 8px 4px 8px 12px;
    margin: 2px 2px;
    font-weight: bold;
    font-size: 18px;
    float: left;
    cursor: pointer;
}

.button-text {
    position: relative!important;
    margin-right: 8px;
    margin-left: 2px;
    float: left;
}

.tick {
    position: relative!important;
    float: left;
    margin: 1px;
    height: 14px;
    width: 14px;
}

.tween {
    transition: all 150ms ease-out;
}

.info-line {
    background-color: black;
}

.title {
    font-weight: bold;
}

.zoom {
    color: #108BE3;
}

.range-text {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-bg {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid rgba(24,45,59,0.1);
}

.info-name {
    /*font-weight: bold;*/
}

.info-main-text {
    font-weight: bold;
}

.info-val {
    text-align: right;
}

i {
    border: solid rgba(0,0,0,0.4);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
