body {
    font-family: Helvetica, serif;
    font-size: 14px;
    overflow-x: hidden;
}

.chart {
    transform-origin: top left;
}

.side-day {
    background-color: #C0D1E1;
    cursor: grab;
    transition: all 250ms ease-out;
}

.frame {
    border: 3px solid #C0D1E1;
    cursor: grab;
    transition: all 250ms ease-out;
}

.axis-line {
    background-color: rgba(24,45,59,0.1);
}

.main-line {
    background-color: rgba(24,45,59,0.4);
}

.info-line {
    background-color: rgba(24,45,59,0.1);
    transition: left 150ms ease-out;
}

.info-bg {
    transition: left 150ms ease-out;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid rgba(24,45,59,0.1);
}

.info-name {
    /*font-weight: bold;*/
}

.info-main-text {
    font-weight: bold;
}

.info-val {
    text-align: right;
}

.info-overlay {
    background-color: rgba(255, 255, 255, 0.4);
}

.axis-x {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(37,37,41,0.5);
}

.axis-y {
    color: rgba(37,37,41,0.5);
}

.button {
    position: relative!important;
    border-radius: 30px;
    padding: 8px 4px 8px 12px;
    margin: 2px 2px;
    font-weight: bold;
    font-size: 18px;
    float: left;
    cursor: pointer;
}

.button-text {
    position: relative!important;
    margin-right: 8px;
    margin-left: 2px;
    float: left;
}

.tick {
    position: relative!important;
    float: left;
    margin: 1px;
    height: 14px;
    width: 14px;
}

.tween {
    -webkit-transition: all 160ms ease-out;
    -moz-transition: all 160ms ease-out;
    -ms-transition: all 160ms ease-out;
    -o-transition: all 160ms ease-out;
    transition: all 160ms ease-out;
}

.tween-alpha {
    transition: opacity 200ms ease-out;
}

.tween-scale {
    /*transition: scale 150ms ease-out;*/
}

.title {
    font-weight: bold;
}

.zoom {
    color: #108BE3;
}

.range-text {
    text-overflow: ellipsis;
    white-space: nowrap;
}

i {
    border: solid rgba(0,0,0,0.4);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
