body {
    font-family: Helvetica, serif;
    font-size: 12px;
    overflow-x: hidden;
}

.bold {
    font-weight: bold!important;
}

.chart {
    transform-origin: top left;
}

.side {
    cursor: grab;
}

.side-left {
    border-radius: 8px 0 0 8px;
}

.side-right {
    border-radius: 0 8px 8px 0;
}

canvas {
    border-radius: 6px;
}

.scroll-overlay-left {
    border-radius: 6px 0 0 6px;
}

.scroll-overlay-right {
    border-radius: 0 6px 6px 0;
}

.frame {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    box-sizing: border-box;
    cursor: grab;
}

.info-line {
    background-color: rgba(24,45,59,0.1);
}

.info-bg {
    transition: left 150ms ease-out;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid rgba(24,45,59,0.1);
}

.info-name {
    /*font-weight: bold;*/
}

.info-main-text {
    position: relative!important;
    float: left;
    font-weight: bold;
    font-size: 13px;
}

.info-val {
    text-align: right;
}

.info-overlay {
    background-color: rgba(255, 255, 255, 0.5);
}

.axis-x {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8E8E93;
}

.axis-y {
    color: #8E8E93;
}

.button {
    position: relative!important;
    border-radius: 30px;
    padding: 8px 6px 8px 12px;
    margin: 4px 3px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}

.button-text {
    position: relative!important;
    margin-right: 8px;
    margin-left: 2px;
    float: left;
    color: #ffffff;
}

.tick {
    position: relative!important;
    float: left;
    margin: 1px;
    height: 14px;
    width: 14px;
}

.tween {
    -webkit-transition: all 160ms ease-out;
    -moz-transition: all 160ms ease-out;
    -ms-transition: all 160ms ease-out;
    -o-transition: all 160ms ease-out;
    transition: all 160ms ease-out;
}

.tween-alpha {
    transition: opacity 200ms ease-out;
}

.tween-scale {
    /*transition: scale 150ms ease-out;*/
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.pointer {
    cursor: pointer;
}

.zoom {
    top: 1px;
    position: relative!important;
    font-size: 17px;
    margin-left: 6px;
}

.zoom-icon {
    width: 20px;
    float: left;
    margin-right: 5px;
}

.range-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    float: right;
    position: relative!important;
}

i {
    border: solid #D2D5D7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}
