body {
    font-family: Helvetica, serif;
    font-size: 12px;
    overflow-x: hidden;
}

#header {
    height: 50px;
    top: 0;
    left: 0;
    z-index: 998;
    position: fixed!important;
    width: 100%;
}

#header-content {
    z-index: 999;
    position: fixed!important;
    transform-origin: top left;
    width: 400px;
}

.main-title {
    font-size: 21px;
    font-weight: bold;
    top: 8px;
}

.mode-text {
    font-size: 16px;
    right: 0;
    top: 12px;
}

.input-circle {
    z-index: 9999;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    transform: scale(0, 0);

    -webkit-transition: transform 140ms ease-out;
    transition: transform 140ms ease-out;
}

.tap-anim {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    z-index: 100500;
}

.bold {
    font-weight: bold !important;
}

.chart {
    transform-origin: top left;
}

.side {
    cursor: grab;
}

.side-left {
    border-radius: 8px 0 0 8px;
}

.side-right {
    border-radius: 0 8px 8px 0;
}

canvas {
    border-radius: 6px;
}

.scroll-overlay-left {
    border-radius: 6px 0 0 6px;
}

.scroll-overlay-right {
    border-radius: 0 6px 6px 0;
}

.frame {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    box-sizing: border-box;
    cursor: grab;
}

.info-line {
    background-color: rgba(24, 45, 59, 0.1);
}

.info-bg {
    transition: left 150ms ease-out;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid rgba(24, 45, 59, 0.1);
}

.info-name {
    /*font-weight: bold;*/
}

.info-main-text {
    position: relative !important;
    float: left;
    font-weight: bold;
    font-size: 13px;
}

.info-val {
    text-align: right;
}

.info-overlay {
    background-color: rgba(255, 255, 255, 0.5);
}

.axis-x {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8E8E93;
}

.axis-y {
    color: #8E8E93;
}

.button {
    position: relative !important;
    border: solid 2px;
    border-radius: 30px;
    padding: 8px 6px 8px 12px;
    margin: 4px 3px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}

.button-text {
    position: relative !important;
    margin-right: 8px;
    margin-left: 2px;
    float: left;
    color: #ffffff;
}

.tick {
    position: relative !important;
    float: left;
    margin: 1px;
    height: 14px;
    width: 14px;
}

.tw {
    -webkit-transition: all 80ms ease-out;
    -moz-transition: all 80ms ease-out;
    -ms-transition: all 80ms ease-out;
    -o-transition: all 80ms ease-out;
    transition: all 80ms ease-out;
}

.tween {
    -webkit-transition: all 140ms ease-out;
    -moz-transition: all 140ms ease-out;
    -ms-transition: all 140ms ease-out;
    -o-transition: all 140ms ease-out;
    transition: all 140ms ease-out;
}

.tweeen {
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.pointer {
    cursor: pointer;
}

.zoom {
    top: 1px;
    position: relative !important;
    font-size: 17px;
    margin-left: 6px;
}

.zoom-icon {
    width: 20px;
    float: left;
    margin-right: 5px;
}

.range-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    float: right;
    position: relative !important;
    font-size: 13px;
}

i {
    border: solid #D2D5D7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.shake {
    animation: shake 300ms cubic-bezier(.36, .07, .19, .97) both;
    transform: translate(0, 0);
}

@keyframes shake {
    20%, 60% {
        transform: translate(-4px, 0);
    }

    40%, 80% {
        transform: translate(4px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}
